doctype html
html
    head
        block head
    body
        block body
        script(src="/public/main.js")
        script= "require('main')(location.pathname,"+JSON.stringify(this.props.data)+");"