html
    head
        link(rel="stylesheet" type="text/css" href=this.props.neutronPath+"public/style.css")
        block head
    body
        if this.props.mayEdit
            button.btn.btn-primary.pull-right.neutron-edit(onClick=this.props.toggleEdit)
                i.glyphicon.glyphicon-pencil
                = " "+(this.props.edit?"Save":"Edit")
        block body
        script(src=this.props.neutronPath+"public/main.js")
        script= "require('main')("+JSON.stringify(this.props)+");"