doctype html
-console.log(this.props);
html
    head
        block head
    body
        if this.props.page.canEdit
            link(href=this.props.path+"public/style.css",rel="stylesheet",type="text/css")
            button.btn.btn-primary.websitify-edit(onClick=this.edit)
                span.glyphicon.glyphicon-pencil
                = this.props.page.edit?" Save":" Edit"

        block body
        script(src=this.props.path+"public/main.js")
        script= "React.renderComponent(base("+JSON.stringify(this.props)+"),document);"
main.
    exports.edit = function(){
        var self = this;
        if(this.props.page.edit){
            this.props.page.edit = false;
            this.save(function(data){
                self.forceUpdate();
            });
        }else{
            this.props.page.edit = true;
            this.forceUpdate();
        }
    }
