doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="./public/style.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    body
        .container
            h3 Admin Panel
            ul.nav.nav-tabs.pull-right(style="position:relative;top:-50px;")
                each module,id in this.props.modules
                    li(className=(id == this.state.activeModule?"active":""))
                        a(href="#" onClick=this.showModule(id))= id
            - var Module = require(this.props.modules[this.state.activeModule].componentPath);
            Module&attributes(this.props.modules[this.state.activeModule],this.props.modules[this.state.activeModule].properties,this.props)
        script(src="./public/admin.js")
        script= "require('main')("+JSON.stringify(this.props)+");"
main.
    exports.getInitialState = function(){
        return {activeModule:Object.keys(this.props.modules)[0]}
    }
    exports.showModule = function(id){
        var self = this;
        return function(){
            self.state.activeModule = id;
            self.forceUpdate();
        }
    }
