extends ../../page.jade

append head
    link(rel="stylesheet" href="/public/css/bootstrap.css")

append body
    .container
        h3 Admin Panel
        ul.nav.nav-tabs.pull-right(style="position:relative;top:-50px;")
            each module,id in this.props.modules
                li(className=(id == this.state.activeModule?"active":""))
                    a(href="#")= id
        = this.props.modules[this.state.activeModule]()
main.
    exports.getInitialState = function(){
        return {activeModule:Object.keys(this.props.modules)[0]}
    }
