.websitify-text-component
    .websitify-text-component-content(ref="main",contentEditable=this.props.edit?true:false,style="display:inline;outline:none",dangerouslySetInnerHTML={__html:this.props.data.html})
main.
    var CKEDITOR = require("./ckeditor.js");
    CKEDITOR.disableAutoInline = true;
    
    exports.getInitialState = function(){return{}}
    exports.componentDidMount = function(){
        this.componentDidUpdate();
    }

    exports.componentDidUpdate = function(){
        if(this.props.edit){
            this.startEdit();
        }else{
            this.stopEdit();
        }
    }
    
    exports.componentWillUnmount = function(){
        if(this.props.editor) this.stopEdit();
    }

    exports.startEdit = function(){
        var self = this;
        if(!this.state.editor){
            this.state.editor = CKEDITOR.inline(this.refs.main.getDOMNode(),{
                enterMode: CKEDITOR.ENTER_BR,
                toolbar: [
                    { name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat' ] },
                    { name: 'paragraph', groups: [ 'list', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
                    { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
                    { name: 'styles', items: [ 'Styles' ] }
                ],
                stylesSet: [
                    {
                        name:"Titel 1",
                        element:"h1"
                    },
                    {
                        name:"Titel 2",
                        element:"h2"
                    },
                    {
                        name:"Titel 3",
                        element:"h3"
                    },
                    {
                        name:"Titel 4",
                        element:"h4"
                    }
                ]
            });

            this.state.editor.on("change",function(){
                self.props.data.html = self.refs.main.getDOMNode().innerHTML;
            })
        }
    }

    exports.stopEdit = function(){
        if(this.state.editor){
            var html = this.refs.main.getDOMNode().innerHTML;
            this.state.editor.destroy();
            delete this.state.editor;
            this.refs.main.getDOMNode().innerHTML = this.props.data.html;
        }
    }
    
    exports.statics = {
        getDefaultData:function(){
            return {
                type:"text",
                html:"Put some <b>text</b> here"
            }
        }
    }
