.video-container
    style.
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
        }
        
        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .youtube-video-url{
            position:absolute;
            z-index:0;
            top:0px;
            left:0px;
            right:0px;
            background-color:white;
        }
    iframe(src="http://www.youtube.com/embed/"+(this.props.data.id||"") frameBorder="0" width="560" height="315")
    if this.props.edit
        input.form-control.youtube-video-url(type="text" placeholder="Video ID" value=(this.props.data.id||"") onChange=this.onChange)
main.
    exports.onChange = function(e){
        this.props.data.id = e.target.value;
        
        this.forceUpdate();
    }
    exports.statics = {
        getDefaultData:function(){return {type:"youtube-video"}}
    }
